<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <body>
    <h1>Home Page</h1>
      <p>
    The Essay introduction to Happiness - V0
<p>    Revel in running, for victors adapt and move on. </p>
      </p>
  </body>
</html>
